/* ! CSS RESET------------------------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* * BOXES & MY CLASSES----------------------------- */
html{
    scroll-behavior: smooth; /* rendo smooth l'anchor*/
}

header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
    border-bottom: 1px solid #ededed;
}

#planSection{
    scroll-margin-top: -5rem; /* aggiusto l'inizio dell'anchor */
}

.centeredBox{ 
    margin: 0 auto; 
    max-width: 1000px; 
}

.navItem{
    margin: 1.5em 1.2em;
    font-size: 1em;
}

a.navItem{
    color: black;
    text-decoration: none;
}

.jumboBox, .footerBox{
    padding-top: 5em;
    margin: 0 auto; 
    max-width: 1200px; 
}

.plansBox{
    padding-top: 12em;
}

.plansCard{
    border: 2px solid #ededed;
    padding: 2em;
}

hr.smallHr{
    width: 20%;
    border: 1px solid gainsboro;
}

.titlePlansCard{
    border-top: 2px solid #ededed;
    border-left: 2px solid #ededed;
    border-right: 2px solid #ededed;
    text-align: center;
    padding: .5em;
}

.plansCard h3{
    font-size: 1.7em;
}

.plansCard p{
    font-size: 1em;
}

.plansCard button{
    width: 100%;
    margin-top: 2em;
    font-size: 1em;
}

h1{
    font-size: 4.8em;
    font-weight: 800;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.5em;
}

input[name="fatturazione"]{
    margin: 5em 0;
}

#annuale{
    margin-left: 3em;
}

p{
    line-height: 1.5em;
}

button.jumboItem{
    margin: 2.5em 0px;
    font-size: 1em;
    padding: .8em;
}

a.jumboItem{
    font-size: 3em;
    margin: 1em 0 .3em 0;
    color: black;
    text-decoration: none;
    transition: color .2s;
}

.squareAgency{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    /* aspect-ratio : 1 / 1; non funziona su tutti i browser*/ 
    padding-top: 50%;
    filter: invert(100%);
}

#agency1{ background-image: url("../../img/designit.svg"); background-color: #5c2c64; border: 15px solid #2f1732; padding-top: calc(50% - 30px)}
#agency2{ background-image: url("../../img/arizona_state_university.svg"); background-color: #9ff6d4;}
#agency3{ background-image: url("../../img/university_of_florida.svg"); background-color: #ff6c31;}
#agency4{ background-image: url("../../img/topps.svg"); background-color: #00e3e3;}
#agency5{ background-image: url("../../img/world_bicycle_relief.svg"); background-color: #2bffb1;}
#agency6{ background-image: url("../../img/hearst_corp.svg"); background-color: #4a2f19;}
#agency7{ background-image: url("../../img/lonely_planet.svg"); background-color: #f3db7f;}
#agency8{ background-image: url("../../img/clear_channel.svg"); background-color: #0126cf;}

.visibleOnHover{
    margin-top: -7rem;
    opacity: 0%;
    transition: opacity, margin-top .2s;
    z-index: -999;
}

.fa-chevron-down{
    transform: rotate(180deg);
    transition: transform .2s;
}

footer a{
    color: white;
    text-decoration: none;
    line-height: 2rem;
}

/* ? IMAGES--------------------------------------- */
img{
    width: 100%;
}

img[alt="logo"]{
    width: auto;
}

img[alt="jumbo"]{
    position: absolute;
    top: 0;
    left: 0;
}

img[alt="agencySelected"]{
    width: 50%;
}

/* ? BUTTONS-------------------------------------- */
.blueButton{
    color: white;
    background-color: #0060fe;
    border: none;
    padding: .5em 1em;
    transition: background-color .2s;
}

.transparentButton{
    color: black;
    background: none;
    border: 1px solid black;
    padding: .5em 1em;
    transition: border, color .2s;
    font-size: 1em;
}

.whiteButton{
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    border: none;
    padding: .5em 1em;
    transition: border, color .5s;
    font-size: 1em;
}

/* ? HOVER---------------------------------------- */
a:hover{
    text-decoration: underline;
}

.blueButton:hover{
    background-color: #0061feb9;
}

a.jumboItem:hover{
    color: rgba(0, 0, 0, 0.5);
}

button:hover, a:hover{
    cursor: pointer;
}

.transparentButton:hover{
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}

.question:hover + .visibleOnHover, .visibleOnHover:hover{
    opacity: 100%;
    margin-top: 0;
}

.question:hover > .fa-chevron-down{
    transform: rotate(360deg);
}

/* ? MARGIN & PADDING----------------------------- */
/* padding */
.smallTopPadding { padding-top: .6em; }
.smallPadding { padding: 1rem;}
.smallRowPadding { padding-top: 1em; padding-bottom: 1em; }
.mediumRowPadding { padding-top: 3em; padding-bottom: 3em; }
.mediumPadding { padding: 3rem; }
.bigRowPadding { padding-top: 5rem; padding-bottom: 5rem; }
.hugeRowPadding { padding-top: 8rem; padding-bottom: 8rem; }
/* margin */
.smallRowMargin { margin-top: 1em; margin-bottom: 1em; }
.smallBotMargin { margin-bottom: 1rem; }
.smallTopMargin { margin-top: 1em; }
.smallMarginRight { margin-right: .5em; }
.smallMarginLeft { margin-left: .5em; }
.mediumRowMargin { margin-top: 2.5em; margin-bottom: 2.5em; }
.mediumTopMargin { margin-top: 2.5em; }
.mediumBotMargin { margin-bottom: 2.5rem; }
.mediumMarginRight { margin-right: 2.5rem; }
.bigMarginLeft { margin-left: 5em; }
.bigMarginRight { margin-right: 5em; }
.bigTopMargin { margin-top: 5em;}
.bigRowMargin { margin-top: 5em; margin-bottom: 5em;}
.hugeTopMargin { margin-top: 10rem; }
.hugeRowMargin { margin-top: 10rem; margin-bottom: 10rem; }

/* ? FLEX----------------------------------------- */
.flexRow{ display: flex; flex-direction: row; }
.flexCol{ display: flex; flex-direction: column;}
.flexWrap{ flex-wrap: wrap;}
/* main axis */
.flexMainCenter{ justify-content: center; }
.flexMainEnd{ justify-content: flex-end; }
.flexMainBetween{ justify-content: space-between; }
.flexMainAround{ justify-content: space-around; }
/* cross axis */
.flexCrossCenter{ align-items: center;}
.flexCrossStretch{ align-items: stretch;}
.flexCrossEnd{ align-items: end;}
.flexCrossBaseline{ align-items: baseline;}

/* ? WIDTH---------------------------------------- */
.col10 { width: 10%; } /* corrisponde a 1/10 */
.col14 { width: calc(100% / 7);} /* corrisponde a 1/7 */
.col15 { width: 15%; }
.col20 { width: 20%; } /* corrisponde a 1/5 */
.col25 { width: 25%; } /* corrisponde a 1/4 */
.col30 { width: 30%; }
.col32 { width: 32%;}
.col33 { width: calc(100% / 3); } /* corrisponde a 1/3 */
.col40 { width: 40%; }
.col50 { width: 50%; } /* corrisponde a 1/2 */
.col60 { width: 60%; } /* corrisponde a 3/5 */
.col66 { width: calc(100% / 3 * 2); } /* corrisponde a 2/3 */
.col70 { width: 70%; }
.col75 { width: 75%; }
.col80 { width: 80%; }
.col90 { width: 90%; }
.col100 { width: 100%; }

/* ? HEIGHT--------------------------------------- */
.microMinH { min-height: 30px; }
.tinyMinH{ min-height: 80px; }
.smallMinH{ min-height: 120px; }
.mediumMinH{ min-height: 250px; }
.largeMinH{ min-height: 450px; }
.hugeMinH{ min-height: 600px; }
.h100{ height: 100%;}

.maxHeightEqualsToWidthDiv3{ max-height: calc(100vw / 3);}

/* ? BORDER--------------------------------------- */
.bordSection{ border: black 2px dashed; }

/* ? BG COLORS------------------------------------ */
.bgBlue {background-color: #0077be;}
.bgGreen {background-color: #008000;}
.bgPurple {background-color: #8a2be2;}
.bgOrange {background-color: #ff6801;}
.bgRed {background-color: #fe0100;}
.bgPink {background-color: #ffc0cb;}
.bgYellow {background-color: #ffff00;}
.bgGrey {background-color: #f5f5f5;}
.bgTeal {background-color: #008080;}
.bgBrown {background-color: #a52a2a;}
.bgWhite { background-color: white; }
.bgBlack { background-color: black; }
.bgClearBlack { background-color: #010100;}
.bgSkyblue { background-color: #b5d0e6; }

/* UTILITY---------------------------------------- */
.textAlCenter{ text-align: center; }
.textCanceled{ text-decoration: line-through; }
.textColorRed{ color: red; }
.textColorGreen{ color: #4ac801; }
.textColorWhite{ color: white; }
.textColorBlue{ color: #0060fe; }
.textColorGray{ color: gray; }
.textColorClearblack { color: #60092b; }
.textTiny{ font-size: .6em; }
.overFlowY{ overflow-y: auto;}
.posRelative{ position: relative;}
.italicText{ font-style: italic;}
.marginReset{ margin: 0 !important;}
.overflowAuto{ overflow-y: auto;}
.resetAll{ all: initial; }